nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 100px;
}

.navbar {
	display: flex;
	background-color: var(--nav-background-color);
	padding: 0 10px;
}

.profPic {
	height: 80%;
	border-radius: 50%;
}