:root {
  --text-color: #040000;
  --background-color: #4B0005;
  --content-background-color: #720008;
  --nav-background-color: #260003;
  --border-color: #260003;
}

@font-face {
  font-family: Metal;
  src: url(MetalMania-Regular.ttf);
}

.App {
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Metal;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}